body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}
/* 중앙정렬, 시계, 로그인 */
.center{
    width: 500px;
    height: 300px;
    margin: 12% auto;
}

/* 시계 */
#clock{
    padding: 15px 0px;
    font-size: 6em;
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
}
/* 날짜 */
#day{
    font-size: 2em;   
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

/* 로그인창 */
#login-form input{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 190px;
    border-radius: 10px;
    border: 0px;
}
#greeting{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
/* 로그아웃버튼 */
#logout-btn {
    font-weight: bold;
    letter-spacing: 0;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    left: 30px;
    border: 0px;
    background: none;
    color: white;
}

/* 투두리스트 */
#todo-box{
    background-color: rgb(255,255,255,0.5);
    border-radius: 20px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 15%;
    right: 10%;
    color: black;
}
#todo-form input{
    text-align: center;
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}
#todo-list{
    height: 410px;
    padding: 0;
    overflow: auto;
}
#todo-list::-webkit-scrollbar{
    width: 5px;
}
#todo-list::-webkit-scrollbar-thumb{
    background-color: rgb(255,255,255,0.5);
}

#todo-list li{
    padding: 10px;
    list-style: none;
}
#todo-list li button{
    float: right;
    border: 0px;
    background: none;
    cursor: pointer;
}
#todo-list li span {
    cursor: pointer;
    padding: 0 15px;
    font-weight: bold;
}


/* 명언 */
#quote{
    color: black;
    font-size: 1.5em;
    background-color : rgb(255,255,255,0.5);
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 15px 0;
    
}
#quote p {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0; margin: 0;
    margin-bottom: -5px;
}
#quote span {
    opacity: 78%;
    font-size: 0.6em;
}
  
/* 날씨, 위치 */
#weather {
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
    top: 10px;
    right: 30px;
}

/* 속성 */
.hidden {
    display: none;
}
.line-through {
    text-decoration: line-through;
    color: gray;
}